// Variables
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
html body {
  overflow-x: hidden;
}
// HEADER----------------------------------------------------------------
.title-1 {
  position: relative;
  font-size: 4rem;
  margin-top: 35vh;
}
.header a {
  color: white !important;
}

// NavBar --------------------------------------------------
.companyLogo img {
  width: 150px;
}
.navBar{
  text-align-last: center;
}
.navbar-expand-md .navbar-nav .dropdown-menu {
  background-color: transparent;
  border: 0;
  border-top: 3px solid white;
  border-radius: 0%;
}
.dropdown-item:focus, .dropdown-item:hover{
  background-color: #67788f9c !important;
}
.contactNumber a{
  color: #ecad39d4 !important;
  font-weight: bold;
}
// CONTENT ------------------------------------------------
// Section top
.sectionTop {
  background-image: url(../assets/img/backgroundRoof4.jpg);
  background-size: cover;
  background-position: 40%;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 800px;
  width: 100%;
}
.sectionTop::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
  background-color: rgba(0, 0, 0, 0.70);
}
.emergencyServices{
  position: relative;
}
.emergencyBoxText p {
  background-color: #67788f9c;
}
